/* pillars */

.pillars-section {
  min-height: 100vh;
  padding: 120px 8vw;
  background: #f7f7f7;
  text-align: center;
}

.pillars-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.pillars-intro {
  max-width: 750px;
  margin: auto;
  margin-bottom: 70px;
  line-height: 1.7;
  opacity: 0.85;
}

/* cards */

.pillars-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
  align-items: stretch;
}

.pillar-card {
  background: white;
  padding: 45px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pillar-card:hover {
  transform: translateY(-8px);
}

.pillar-card h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.pillar-card p {
  line-height: 1.7;
  opacity: 0.85;
}

/* example tags */

.pillar-examples {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pillar-examples span {
  background: #eeeeee;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
}

@media (max-width: 900px) {

  .pillars-container {
    grid-template-columns: 1fr;
  }

}


/* initiatives  */
.initiatives-intro {
  max-width: 720px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.7;
  opacity: 0.85;
}
.initiatives-section {
  min-height: 100vh;
  padding: 120px 8vw;
  background: #ffffff;
}

.initiatives-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
}

.initiatives-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.initiative-card {
  padding: 40px;
  background: #f5f5f5;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.initiative-card:hover {
  transform: translateY(-6px);
}

.initiative-card h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.initiative-card p {
  line-height: 1.6;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .initiatives-container {
    grid-template-columns: 1fr;
  }
}


/* philosophy  */
.philosophy-section {
  min-height: 100vh;
  padding: 120px 8vw;
  background: #f7f7f7;
}

.philosophy-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
}

.philosophy-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.philosophy-item {
  padding: 40px;
  background: white;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.philosophy-item:hover {
  transform: translateY(-6px);
}

.philosophy-item h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.philosophy-item p {
  line-height: 1.6;
  opacity: 0.85;
}

@media (max-width: 900px) {

  .philosophy-container {
    grid-template-columns: 1fr;
  }

}